nav{
    width: 100%;
}

#collapseBtn{
    display: block;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: auto;
    padding: 0;
    
}

#collapse{
    display: none;
}